html * {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color:  gray;
}

footer {
  background-color: orange;
}

aside {
  background-color: red;
}

nav {
  background-color: yellow;
}

header,
footer {
  text-align: center;
}

.header {
  font-size: 46px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.navigation {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

[class*="a"] {
  background-color: blue;
}

[class$="r"] {
  background-color: magenta;
}

.oh-no-inline-styles {
  background-color: green !important;
}